/*
Student Name: Henry Rudisill
File Name: template.html
Date: 02/21/2023
*/

/*
CSS Reset
*/
body, header, nav, main, footer, h1, h2, figure, figcaption, #links, #links article, #links article:hover, #portrait, #Past, ul, li, li a, .mobile, .tab-desk, nav ul, nav li a
{
    margin: 0;
    padding: 0;
    border: 0;
}

/*
Style rules for body and images
*/
body
{
    background-color: #9CC5A1;
}

img
{
    max-width: 100%;
    display: block;
    border-radius: 25px;
}

#portrait
{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 36%;
    max-width: 300px;
    max-height: 400px;
}

/*
Style rules for mobile viewport
*/
@media screen and ( max-width: 767px) {
    .tab-desk {
        display: none;
    }

    #links-grid article {
        padding: 0;
        margin: 0;
    }

    #links-grid article:hover {
        background: #DCE1DE;
        margin: 3%;
        padding: 2%;
    }

    nav li {
        padding: 1%;
    }

    .mobile-nav a {
        color: #fff;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
        padding: 3%;
        display: block;
    }
     
    .mobile-nav a.nav-icon {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        color: #f6eee4;
        padding: 2%;
    }
     
    .nav-icon div { 
        height: 40px;
        width: 40px;
        color: #2a1f14; 
    } 
}

/*
Style Rules for tablet-desktop
*/
@media screen and (min-width: 768px) {

    .mobile {
        display: none;
    }
    
    .mobile-nav {
        display: none;
    }

    .nav-icon {
        dispplay: none;
    }

    nav {
        background: linear-gradient(#49A078, #9CC5A1);
    }

    nav li a {
        text-shadow: 2px 2px 3px #216869;
    }

    nav li a:hover {
        color: #216869;
        text-shadow: 2px 2px 2px #DCE1DE;
    }
    #links-grid article:hover {
        background: #DCE1DE;
        box-shadow: 5px 5px #49A078;
        margin: 3%;
        padding: 2%;
    }

    #links-grid article {
        box-shadow: 5px 5px #216869;
    }


    #portrait
{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 36%;
    max-width: 300px;
    max-height: 400px;
}

}


/*
Style rules for header content
*/
header
{
    text-align: center;
    background-color: #216869;
    color: #DCE1DE;
    font-family: Rubik, sans-serif;
    font-size: 20px;
}
/*
Style rules for nav content
*/
nav
{
    background-color: #49A078;
    text-align: center;
    position: sticky;
    top: 0px;
    color: #DCE1DE;
    padding: 1%;
    font-family: Rubik, sans-serif;
}

nav ul
{
    list-style: none;
    text-align: center;
    color: #DCE1DE;
}

nav li
{
    text-decoration: none;
    color: #DCE1DE;
    display: inline-block;
}
nav li a
{
    text-decoration: none;
    color: #DCE1DE;
}

/*
Style rules for main content
*/
main
{
    padding-top: 3%;
    text-decoration: none;
    color: #1F2421;
    font-family: Oxygen, Helvetica, sans-serif;
}

main ul
{
    list-style: none
}

main a
{
    text-decoration: none;
    color: #216869;
    font-weight: bold;
}

/*
Style Rules for footer content
*/
footer
{
    font-family: Oxygen, Helvetica, sans-serif;
}
footer a
{
    text-decoration: none;
    color: #216869;
    font-weight: bold;
}

/* style for links id */
#links-grid article {
    display: inline-grid;
    background-color: #49A078;
    margin: 3%;
    padding: 2%;
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    grid-gap: 20px 20px;
}

/* Sty;e rules for table */
table {
    border: 15px solid #216869;
}

thead {
    background-color: #216869;
    font-weight: bold;
}

tbody {
    background-color: #9CC5A1;
}

tbody > tr:nth-child(odd) {
    background-color: #49A078;
}


/* Style rules for forms */
form {
    margin: 2%;
}

fieldset {
    display: inline-block;
    width: 120px;
    vertical-align: top;
}


fieldset > legend {
    font-weight: bold;
}

.btn {
    background-color: #216869;
    border: none;
    border-radius: 10px;
    padding: 2%;
    display: inline-block;
    color: #DCE1DE;
    text-align: center;
    text-decoration: none;
    font-size: 15px
}
